<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- =========================================================== -->
    <!-- NETWORK PERMISSIONS                                         -->
    <!-- =========================================================== -->
    <!-- KRITIS: Wajib ada agar HTTP request ke server lokal bekerja -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Digunakan untuk mengecek status koneksi LAN sebelum API call  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Diperlukan beberapa Custom ROM (MIUI/ColorOS) agar bisa      -->
    <!-- membaca status koneksi Wi-Fi dan IP lokal LAN dengan benar.  -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- =========================================================== -->
    <!-- POWER / DEVICE PERMISSIONS                                  -->
    <!-- =========================================================== -->
    <!-- Mencegah OS (MIUI/HyperOS/ColorOS) mematikan paksa proses   -->
    <!-- WebView ujian. Dideklarasikan eksplisit karena beberapa OEM  -->
    <!-- mengabaikan auto-merge dari plugin wakelock_plus.            -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Meminta OS untuk mengabaikan Battery Optimization agar proses-->
    <!-- tidak di-kill paksa di background (terutama Xiaomi MIUI).    -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:label="Exambro SMAN 4 Jember"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:resizeableActivity="false"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>

